/* App.css */
.btn {
  background-color: bisque;
  border-radius: 6px;
  border: 1px solid transparent;
  padding: 0.7em 1.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: bisque;
  cursor: pointer;
  transition: border-color 0.25s;
  border: none;
  width: 10rem;
}